{% extends "base.html.twig" %} 

{% block title %}{% trans into '' ~ app.request.getLocale() %}Viewing details{% endtrans %}{% endblock %}

{% block body %}
    <h2>{% trans into '' ~ app.request.getLocale() %}View employee details{% endtrans %}</label></h2>
    <br /> <br />
    <p class="detalii"><label>{% trans into '' ~ app.request.getLocale() %}Last Name{% endtrans %}: </label>{{ angajat.nume}} </p>
    <p class="detalii"><label>{% trans into '' ~ app.request.getLocale() %}First Name{% endtrans %}: </label>{{ angajat.prenume }} </p>
    <p class="detalii"><label>{% trans into '' ~ app.request.getLocale() %}Phone Number{% endtrans %}: </label>{{ angajat.nrtel }} </p>
    <p class="detalii"><label>{% trans into '' ~ app.request.getLocale() %}Position{% endtrans %}: </label>{{ angajat.functie }} </p>
    <p class="detalii"><label>{% trans into '' ~ app.request.getLocale() %}Holidays days left{% endtrans %}: </label> {{ zile_ramase }} /25</p>
    <br /><br />

    <table class="table table-triped">
        <thead>
            <tr class="table-active">
                <td>ID</td>
                <td>{% trans into '' ~ app.request.getLocale() %}Holiday type{% endtrans %}</td>
                <td>{% trans into '' ~ app.request.getLocale() %}From date{% endtrans %}</td>
                <td>{% trans into '' ~ app.request.getLocale() %}To date{% endtrans %}</td>
                <td>{% trans into '' ~ app.request.getLocale() %}Number of days{% endtrans %}</td>
                {# se afiseaza doar daca un utilizator este autentificat #}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>{% trans into '' ~ app.request.getLocale() %}Action{% endtrans %}</td>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {# pentru fiecare angajat in parte se va crea table row-ul specific #}
            {% for concediu in concedii %}
                {# pe rand (elementele "td" ale acestuia, fara sectiunea "action") se poate face click pentru a fi redirectionati spre o pagina
                    unde se pot vedea mai multe detalii despre angajat #}
                <tr>
                    <td>{{ concediu.id }}</td>
                    <td>{{ concediu.tipconcediu }}</td>
                    <td>{{ concediu.datadela|date("m/d/Y") }}</td>
                    <td>{{ concediu.datapanala|date("m/d/Y") }}</td>
                    <td>{{ concediu.nrzile }}</td>
                    {# se afiseaza doar daca un utilizator este autentificat #}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td><a class="btn btn-sm" style="background-color: #11C3DD; color: white;" href="{{ path('concedii.edit', {id: concediu.id}) }}">Edit</a>
                            <a class="btn btn-sm btn-danger delButton" style="color: white;" href="#" data-href="{{ path('concedii.delete', {id: concediu.id}) }}">Delete</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {# se afiseaza doar daca un utilizator este autentificat #}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <tr>
                    {# Pozitionarea butonului pentru adaugarea unui concediu la mijlocul tabelului #}
                    <td colspan="6">
                        {# se apeleaza ruta pentru adaugare de conediu, transmitand id-ul angajatului pentru care se face adaugarea concediului#}
                        <a class="btn btn-sm btn-success"  href="{{ path('concedii.add', {id: angajat.id}) }}">{% trans into '' ~ app.request.getLocale() %}Add holiday{% endtrans %}</a>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>

<script>
    jQuery(document).ready(function($) {
        /* Functie care este apelata cand se face click pe butonul "Delete"
            si daca se confirma stergerea unui concediu, atunci se apeleaza
            ruta corespunzatoare */
        $(".delButton").click(function() {
            if(confirm('Are you sure?')){
                window.location = $(this).data("href");
            }  
        })
    });
</script>
    
{% endblock %}